/.venv/
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.git
.gitignore
.pytest_cache
flags.db
*.db
*.sqlite
*.sqlite3
*.egg-info
dist
build
k8s/
.env
.env.*
.python-version
scripts/

docker-compose.yml
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
cover/
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
tests/
.gitignore
.github/
.vscode/
.cursor/
.idea/